body {
    padding-top: 70px;
}

.hidden {
    display: none;
}

.header {
	background-color: #3b5998;
}

.white{
	color: white;
}

.black{
	color: black;
}

.white:hover{
	color: white;
}

h1, h3, h2 {
	text-align: center;
}

h3, span {
	font-style: italic;
}

#web-title {
	color: black;
	font-family: serif;
	font-size: 15pt;
	font-weight: bold;
}

#header-content {
	color: yellow;
}

.lrmargin{
	margin-right: 25%;
	margin-left: 20%;
}

.foot{
	text-align: justify;
	color: black;
  	font-size: 18px;
    line-height: 45px;
    font-family: serif;
    font-weight: bold;
    margin-left: 5%;
}

.footing{
	float: right;
	margin-right: 5%;
}

.leftmargin{
	margin-left: 7px;
}